.dashboard-card
{
	width: 240px;
	max-width: 240px;
	margin: 40px;
	display: inline-block;
}

.av-fault-log
{
  background-image: url('/assets/img/av-fault.png');
  background-size: cover;
}

.av-event-log
{
  background-image: url('/assets/img/av-event.png');
  background-size: cover;
}

.av-stub
{
  background-image: url('/assets/img/av-stub.png');
  background-size: cover;
}